@use "../../styles/viewport.module.scss" as *;

.desktopWrapper {
  display: none;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background: var(--bg-primary);

  @media (min-width: $desktop_min_width) {
    display: flex;
  }
}

.mobileWrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background: var(--bg-primary);

  @media (min-width: $desktop_min_width) {
    display: none;
  }
}

.body {
  flex: 1;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow-y: auto;

  > * {
    width: 50%;
  }
}

.content {
  height: 100%;
  background: var(--bg-primary);

  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
