@use "../../styles/viewport.module.scss" as *;

.wrapper {
  display: none;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background: var(--bg-primary);

  &.desktop {
    display: none;
  }
  &.mobile {
    display: flex;
  }

  @media (min-width: $desktop_min_width) {
    &.desktop {
      display: flex;
    }
    &.mobile {
      display: none;
    }
  }
}

.spinnerWrapper {
  height: 96px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.body {
  flex: 1;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow-y: auto;

  > * {
    width: 50%;
  }
}

.content {
  height: 100%;
  background: var(--bg-primary);

  display: flex;
  align-items: center;
  justify-content: center;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 18.6px;
}

.description {
  text-align: center;
  max-width: 498px;
  white-space: pre-line;
}
