SERVER_PORT=3201

VITE_EWALLET_API_ENDPOINT=http://localhost:4200
VITE_CREDENTIAL_VAULT_API_ENDPOINT=http://localhost:4201
VITE_CREDENTIAL_VAULT_API_ENDPOINT_2=http://localhost:4202
VITE_DEMO_WEB_ORIGIN=http://localhost:3200
VITE_KEPLR_API_ENDPOINT=https://keplr-api.keplr.app
VITE_TX_INTERPRETER_API_ENDPOINT=https://tx-interpreter.keplr.app
VITE_AMPLITUDE_API_KEY=119c9b9e2298dc5e16f1010d697a2689
