.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
}

.card {
  display: flex;
  width: 360px;
  padding: 48px 24px 24px 24px;
  flex-direction: column;
  align-items: center;

  border-radius: 24px;
  border: 1px solid var(--border-secondary);
  background: var(--bg-secondary);

  box-shadow: var(--shadow-xs);
}
