@use "../../styles/viewport.module.scss" as *;

.wrapper {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;

  min-width: 240px;
  padding: 24px 16px;
}

@media (min-width: $width_360) {
  .wrapper {
    display: flex;
  }
}

// .mainMenu {
// }

.subMenu {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.icon {
  width: 20px;
  height: 20px;
  aspect-ratio: 1/1;
}

.featureRequestButton {
  border: none;
  background: none;
  cursor: pointer;
  width: 100%;
  padding: 10px 12px;
  text-align: left;

  &:hover {
    background-color: var(--bg-primary-hover);
  }
}
