.riskWarningContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.riskWarningBox {
  display: flex;
  padding: 6px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;

  border-radius: 12px;

  text-align: center;

  background-color: var(--bg-warning-primary);
}

.riskWarningCheckBoxContainer {
  gap: 6px;
}

.riskWarningCheckBoxInputContainerClassName {
  padding-top: 0px;
}
