.wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  padding: 12px;
  gap: 12px;
  width: 50%;
  border-radius: 8px;

  &:hover {
    background-color: var(--bg-primary-hover);
  }
}

.button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;

  margin-top: 12px;
  background: none;
  border: none;
  cursor: pointer;
}

.button-icon {
  width: 20px;
  height: 20px;
}
