SERVER_PORT=3206

NEXT_PUBLIC_OKO_SDK_ENDPOINT=http://localhost:3201
NEXT_PUBLIC_OKO_API_ENDPOINT=http://localhost:4200
NEXT_PUBLIC_OKO_DEMO_ENDPOINT=https://demo.oko.app
NEXT_PUBLIC_OKO_DOCS_ENDPOINT=https://docs.oko.app
NEXT_PUBLIC_OKO_FEATURE_REQUEST_ENDPOINT=https://oko-wallet.canny.io/feature-requests
NEXT_PUBLIC_OKO_GET_SUPPORT_ENDPOINT=https://oko-wallet.canny.io/integration-support-inquiries
NEXT_PUBLIC_S3_BUCKET_URL=https://oko-wallet.s3.ap-northeast-2.amazonaws.com
