SERVER_PORT=3206

NEXT_PUBLIC_OKO_SDK_API_KEY=72bd2afd04374f86d563a40b814b7098e5ad6c7f52d3b8f84ab0c3d05f73ac6c
NEXT_PUBLIC_OKO_SDK_ENDPOINT=http://localhost:3201
NEXT_PUBLIC_OKO_API_ENDPOINT=http://localhost:4200
NEXT_PUBLIC_OKO_DEMO_ENDPOINT=https://demo.oko.app
NEXT_PUBLIC_OKO_DOCS_ENDPOINT=https://docs.oko.app
NEXT_PUBLIC_OKO_FEATURE_REQUEST_ENDPOINT=https://oko-wallet.canny.io/feature-requests
NEXT_PUBLIC_OKO_GET_SUPPORT_ENDPOINT=https://oko-wallet.canny.io/integration-support-inquiries
NEXT_PUBLIC_S3_BUCKET_URL=https://oko-wallet.s3.ap-northeast-2.amazonaws.com
NEXT_PUBLIC_KEPLR_API_ENDPOINT=
NEXT_PUBLIC_TX_CODEC_BASE_URL=
NEXT_PUBLIC_TOPUP_BASE_URL=
NEXT_PUBLIC_TX_HISTORY_BASE_URL=
NEXT_PUBLIC_COINGECKO_ENDPOINT=
NEXT_PUBLIC_COINGECKO_GETPRICE=
NEXT_PUBLIC_COINGECKO_COIN_DATA_BY_TOKEN_ADDRESS=
NEXT_PUBLIC_SKIP_TOKEN_INFO_API_URI=
NEXT_PUBLIC_ETHEREUM_ENDPOINT=
