PORT="4202"
DB_HOST="localhost"
DB_PORT="5432"
DB_USER="postgres"
DB_PASSWORD="postgres"
DB_NAME="key_share_node_dev2"
DB_SSL="false"
ENCRYPTION_SECRET_PATH="~/.oko/encryption_secret.txt"
ADMIN_PASSWORD="admin_password"
DUMP_DIR="~/key_share_node/dump"
OKO_API_ENDPOINT="http://localhost:4200"
