PORT="4203"
DB_HOST="localhost"
DB_PORT="5432"
DB_USER="postgres"
DB_PASSWORD="postgres"
DB_NAME="key_share_node_dev3"
DB_SSL="false"
ENCRYPTION_SECRET_PATH="~/.oko/encryption_secret.txt"
ADMIN_PASSWORD="admin_password"
DUMP_DIR="~/key_share_node/dump"
TELEGRAM_BOT_TOKEN="telegram-bot-token"
OKO_API_BASE_URL="http://localhost:4200"
KS_NODE_REPORT_PASSWORD="ks-node-report-password"
