.codeBlock {
  display: flex;
  padding: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
  overflow-y: auto;
  border-radius: 12px;
  background: var(--bg-secondary);
  width: 100%;
  max-width: 360px;
  max-height: 300px;

  pre {
    align-self: stretch;
    color: var(--text-tertiary);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-regular);
    line-height: var(--font-line-height-sm);
    white-space: pre-wrap;
    word-break: break-word;
  }
}
