.wrapper {
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
}

.filter {
  display: flex;
  gap: 8px;
  align-items: center;
}

.options {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4px;
}

.option {
  cursor: pointer;
}