.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.inputCustomWidth {
  width: 320px;
}

.plusIcon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  opacity: 0.5;
}

.appLogoUploadWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.appLogoUploadDescription {
  color: var(--text-primary);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  width: 413px;
}

.appLogoUploadLabel {
  display: flex;
  align-items: flex-start;
  gap: 2px;
}

.appLogoUploadLabelText {
  color: var(--text-secondary);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.appLogoUploadInput {
  display: flex;
  width: 85px;
  height: 85px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: 1px solid #eaecf0;
  cursor: pointer;
  transition: border-color 0.2s ease;
  position: relative;
  overflow: hidden;

  &:hover {
    border-color: #d0d5dd;
  }

  &.dragging {
    border-color: var(--border-brand);
    background-color: var(--bg-brand-secondary);
  }
}

.logoPreview {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoPreviewImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.removeButton {
  position: absolute;
  padding: 4px;
  top: 0px;
  right: 0px;
  border-radius: 0px 12px 0px 0px;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.xCloseIcon {
  width: 16px;
  height: 16px;
}
