.wrapper {
  display: flex;
  justify-content: center;

  /* border: 1px solid gray; */
}

.title {
  font-size: 2.4em;
}

.inner {
  padding: 24px 9px;
  max-width: 480px;
  min-width: 360px;

  /* border: 1px solid black; */
}

.status {
  padding-top: 8px;
}

.isDisabled {
  display: none;
}
