.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.body {
  height: 100%;
  background: var(--bg-primary);

  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.rectangleSection {
  background: var(--bg-secondary);
  height: 562px;
  border-radius: 24px;
  width: 683px;
  flex-shrink: 0;
}
