.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.body {
  height: 100%;
  background: var(--bg-primary);

  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.formFrame {
  position: relative;
  padding: 40px;
  background-image: url("/signin_form_frame.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
