.wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
  min-width: 100vw;
  overflow-y: hidden;
}

.content {
  display: flex;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  border-left: 1px solid var(--border-primary);
}
