.wrapper {
  display: flex;
  align-items: center;
  align-self: stretch;
  margin-top: 44px;
}

.titleWrapper {
  flex: 1 0 0;
  display: flex;
  align-items: center;
  gap: 4px;
}

.title {
  font-size: 28px;
  font-style: normal;
  line-height: 140%;
  letter-spacing: -0.42px;
}

.titleSub {
  color: var(--text-brand-secondary);
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.42px;
}
