.messageContainer {
  padding: 0.75rem 1rem;

  .messageContent {
    padding: 0;
    min-height: 0;
  }
}

.metadataContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chainInfoContainer {
  padding: 0.75rem 1rem;
  border-radius: 0.75rem;
  background-color: var(--bg-secondary);

  .chainInfoRow {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .chainInfoRowContent {
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }
}

.originRow {
  display: flex;
  align-items: center;
  gap: 4px;

  .originFavicon {
    width: 20px;
    height: 20px;
  }
}
