.container {
  width: 208px;
  height: 267px;
  display: flex;
  padding: var(--spacing-xl, 16px);
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: var(--radius-xl, 12px);
  background: var(--bg-secondary);
}

.titleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  width: 100%;
}

.closeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  padding: var(--spacing-md, 8px);
  border: none;
  background: transparent;
  cursor: pointer;
  border-radius: var(--radius-md, 8px);
  position: absolute;
  right: 8px;
  top: 8px;
}

.closeButton:hover {
  background-color: var(--bg-secondary);
}

.description {
  margin-top: var(--spacing-xs, 4px);
  align-self: stretch;
  font-style: normal;
  margin-bottom: var(--spacing-xl, 16px);
}

.image {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 16px;
}

.earlyAccessButton {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}
