.summaryContainer {
  display: flex;
  padding: 12px 12px 12px 16px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 12px;
  background: var(--bg-secondary);
}

.summaryItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  gap: 8px;
}

.textWithExternalLink {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;

  .externalLink {
    color: var(--fg-tertiary);
  }

  .arrowUpRightIcon {
    color: var(--fg-quaternary);
  }

  &:hover {
    .externalLink {
      color: var(--text-tertiary-hover);
    }

    .arrowUpRightIcon {
      color: var(--fg-quaternary-hover);
    }
  }
}

.noShrink {
  flex-shrink: 0;
}

.textWithIcon {
  display: flex;
  align-items: center;
  gap: 4px;
}

.tokenAmount {
  text-overflow: ellipsis;
  word-break: break-all;
}

.collapsibleCodeBlock {
  max-height: 230px;
}
