@use "../styles/viewport.module.scss" as *;

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.body {
  display: flex;
  height: 100%;
  background-color: hsl(0, 0%, 96.1%);
  min-width: 100vw;

  overflow-y: hidden;
  flex-grow: 1;
}
