$white: #ffffff;
$black: #000000;
$transparent: transparent;

$gray-25: #fdfdfd;
$gray-50: #fafafa;
$gray-100: #f5f5f5;
$gray-200: #e9eaeb;
$gray-300: #d5d7da;
$gray-400: #a4a7ae;
$gray-500: #717680;
$gray-600: #535862;
$gray-700: #414651;
$gray-800: #313131;
$gray-900: #181d27;
$gray-950: #0a0d12;

$gray-25-dark: #fafafa;
$gray-50-dark: #f7f7f7;
$gray-100-dark: #f0f0f1;
$gray-200-dark: #ececed;
$gray-300-dark: #cecfd2;
$gray-400-dark: #94979c;
$gray-500-dark: #85888e;
$gray-600-dark: #61656c;
$gray-700-dark: #373a41;
$gray-800-dark: #22262f;
$gray-900-dark: #13161b;
$gray-950-dark: #0c0e12;

$brand-25: #fdfdfd;
$brand-50: #fafafa;
$brand-100: #f5f5f5;
$brand-200: #d5d7da;
$brand-300: #a4a7ae;
$brand-400: #717680;
$brand-500: #535862;
$brand-600: #313131;
$brand-700: #181d27;
$brand-800: #53389e;
$brand-900: #0a0d12;

$error-25: #fffbfa;
$error-50: #fef3f2;
$error-100: #fee4e2;
$error-200: #fee4e2;
$error-300: #fda29b;
$error-400: #f97066;
$error-500: #f04438;
$error-600: #d92d20;
$error-700: #b42318;
$error-800: #912018;
$error-900: #7a271a;
$error-950: #55160c;

$warning-25: #fffcf5;
$warning-50: #fffaeb;
$warning-100: #fef0c7;
$warning-200: #fedf89;
$warning-300: #fec84b;
$warning-400: #fdb022;
$warning-500: #f79009;
$warning-600: #dc6803;
$warning-700: #b54708;
$warning-800: #93370d;
$warning-900: #7a2e0e;
$warning-950: #4e1d09;

$success-25: #f6fef9;
$success-50: #ecfdf3;
$success-100: #dcfae6;
$success-200: #abefc6;
$success-300: #75e0a7;
$success-400: #47cd89;
$success-500: #17b26a;
$success-600: #079455;
$success-700: #067647;
$success-800: #085d3a;
$success-900: #074d31;
$success-950: #053321;

$text-primary: $gray-900;
$text-primary-on-brand: $white;
$text-secondary: $gray-700;
$text-secondary-hover: $gray-800;
$text-secondary-on-brand: $brand-200;
$text-tertiary: $gray-600;
$text-tertiary-hover: $gray-700;
$text-tertiary-on-brand: $brand-200;
$text-quaternary: $gray-500;
$text-quaternary-on-brand: $brand-300;
$text-white: $white;
$text-disabled: $gray-400;
$text-placeholder: $gray-500;
$text-placeholder-subtle: $gray-300;
$text-subtle: $gray-300;
$text-brand-primary: $brand-900;
$text-brand-secondary: $brand-700;
$text-brand-secondary-hover: $brand-800;
$text-brand-tertiary: $brand-600;
$text-brand-tertiary-alt: $brand-600;
$text-error-primary: $error-600;
$text-warning-primary: $warning-600;
$text-success-primary: $success-600;

$bg-primary: $white;
$bg-primary-alt: $white;
$bg-primary-hover: $gray-50;
$bg-primary-solid: $gray-950;
$bg-surface-primary-default: $gray-50;
$bg-secondary: $gray-50;
$bg-secondary-alt: $gray-50;
$bg-secondary-hover: $gray-100;
$bg-secondary-subtle: $gray-25;
$bg-secondary-solid: $gray-600;
$bg-tertiary: $gray-100;
$bg-quaternary: $gray-200;
$bg-active: $gray-50;
$bg-disabled: $gray-100;
$bg-disabled-subtle: $gray-50;
$bg-overlay: $gray-950;
$bg-brand-primary: $brand-50;
$bg-brand-primary-alt: $brand-50;
$bg-brand-secondary: $brand-100;
$bg-brand-solid: $brand-600;
$bg-brand-solid-hover: $brand-700;
$bg-brand-section: $brand-800;
$bg-brand-section-subtle: $brand-700;
$bg-error-primary: $error-50;
$bg-error-secondary: $error-100;
$bg-error-solid: $error-600;
$bg-error-solid-hover: $error-700;
$bg-warning-primary: $warning-50;
$bg-warning-secondary: $warning-100;
$bg-warning-solid: $warning-600;
$bg-success-primary: $success-50;
$bg-success-secondary: $success-100;
$bg-success-solid: $success-600;

$fg-primary: $gray-900;
$fg-secondary: $gray-700;
$fg-secondary-hover: $gray-800;
$fg-tertiary: $gray-600;
$fg-tertiary-hover: $gray-700;
$fg-quaternary: $gray-400;
$fg-quaternary-hover: $gray-500;
$fg-white: $white;
$fg-disabled: $gray-400;
$fg-disabled-subtle: $gray-300;
$fg-brand-primary: $brand-600;
$fg-brand-primary-alt: $brand-600;
$fg-brand-secondary: $brand-500;
$fg-brand-secondary-alt: $brand-600;
$fg-error-primary: $error-600;
$fg-error-secondary: $error-500;
$fg-warning-primary: $warning-600;
$fg-warning-secondary: $warning-500;
$fg-success-primary: $success-600;
$fg-success-secondary: $success-500;

$border-primary: $gray-300;
$border-secondary: $gray-200;
$border-secondary-alt: rgba(0, 0, 0, 0.08);
$border-tertiary: $gray-100;
$border-disabled: $gray-300;
$border-disabled-subtle: $gray-200;
$border-brand: $brand-500;
$border-brand-alt: $brand-600;
$border-error: $error-500;
$border-error-subtle: $error-300;

// dark theme
$text-primary-dark: $gray-50-dark;
$text-primary-on-brand-dark: $gray-50-dark;
$text-secondary-dark: $gray-300-dark;
$text-secondary-hover-dark: $gray-200-dark;
$text-secondary-on-brand-dark: $brand-300;
$text-tertiary-dark: $gray-400-dark;
$text-tertiary-hover-dark: $gray-300-dark;
$text-tertiary-on-brand-dark: $brand-400;
$text-quaternary-dark: $gray-400-dark;
$text-quaternary-on-brand-dark: $brand-400;
$text-white-dark: $white;
$text-disabled-dark: $gray-500-dark;
$text-placeholder-dark: $gray-400-dark;
$text-placeholder-subtle-dark: $gray-700-dark;
$text-brand-primary-dark: $gray-50-dark;
$text-brand-secondary-dark: $gray-300-dark;
$text-brand-secondary-hover-dark: $gray-300-dark;
$text-brand-tertiary-dark: $gray-400-dark;
$text-brand-tertiary-alt-dark: $gray-50-dark;
$text-error-primary-dark: $error-400;
$text-warning-primary-dark: $warning-400;
$text-success-primary-dark: $success-400;

$bg-primary-dark: $gray-950-dark;
$bg-primary-alt-dark: $gray-900-dark;
$bg-primary-hover-dark: $gray-800-dark;
$bg-primary-solid-dark: $gray-900-dark;
$bg-secondary-dark: $gray-900-dark;
$bg-secondary-alt-dark: $gray-950-dark;
$bg-secondary-hover-dark: $gray-800-dark;
$bg-secondary-subtle-dark: $gray-900-dark;
$bg-secondary-solid-dark: $gray-600-dark;
$bg-tertiary-dark: $gray-800-dark;
$bg-quaternary-dark: $gray-700-dark;
$bg-active-dark: $gray-800-dark;
$bg-disabled-dark: $gray-800-dark;
$bg-disabled-subtle-dark: $gray-900-dark;
$bg-overlay-dark: $gray-800-dark;
$bg-brand-primary-dark: $brand-500;
$bg-brand-primary-alt-dark: $gray-800-dark;
$bg-brand-secondary-dark: $brand-600;
$bg-brand-solid-dark: $brand-50;
$bg-brand-solid-hover-dark: $brand-200;
$bg-brand-section-dark: $gray-800-dark;
$bg-brand-section-subtle-dark: $gray-950-dark;
$bg-error-primary-dark: $error-950;
$bg-error-secondary-dark: $error-600;
$bg-error-solid-dark: $error-600;
$bg-error-solid-hover-dark: $error-500;
$bg-warning-primary-dark: $warning-950;
$bg-warning-secondary-dark: $warning-600;
$bg-warning-solid-dark: $warning-600;
$bg-success-primary-dark: $success-950;
$bg-success-secondary-dark: $success-600;
$bg-success-solid-dark: $success-600;

$fg-primary-dark: $white;
$fg-secondary-dark: $gray-300-dark;
$fg-secondary-hover-dark: $gray-200-dark;
$fg-tertiary-dark: $gray-400-dark;
$fg-tertiary-hover-dark: $gray-300-dark;
$fg-quaternary-dark: $gray-600-dark;
$fg-quaternary-hover-dark: $gray-500-dark;
$fg-white-dark: $white;
$fg-disabled-dark: $gray-500-dark;
$fg-disabled-subtle-dark: $gray-600-dark;
$fg-brand-primary-dark: $brand-500;
$fg-brand-primary-alt-dark: $gray-300-dark;
$fg-brand-secondary-dark: $brand-500;
$fg-brand-secondary-alt-dark: $gray-600-dark;
$fg-error-primary-dark: $error-500;
$fg-error-secondary-dark: $error-400;
$fg-warning-primary-dark: $warning-500;
$fg-warning-secondary-dark: $warning-400;
$fg-success-primary-dark: $success-500;
$fg-success-secondary-dark: $success-400;

$border-primary-dark: $gray-700-dark;
$border-secondary-dark: $gray-800-dark;
$border-secondary-alt-dark: $gray-800-dark;
$border-tertiary-dark: $gray-800-dark;
$border-disabled-dark: $gray-700-dark;
$border-disabled-subtle-dark: $gray-800-dark;
$border-brand-dark: $brand-400;
$border-brand-alt-dark: $brand-700;
$border-error-dark: $error-400;
$border-error-subtle-dark: $error-500;
