@keyframes shimmer {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: calc(200px + 100%) 0;
  }
}

.skeleton {
  display: inline-block;
  background-color: var(--bg-tertiary);
  background-image: linear-gradient(
    90deg,
    var(--bg-tertiary) 0px,
    var(--bg-quaternary) 20px,
    var(--bg-quaternary) 40px,
    var(--bg-tertiary) 60px,
    var(--bg-tertiary) 80px
  );
  background-size: 200px 100%;
  background-repeat: no-repeat;
  animation: shimmer 1.2s ease-in-out infinite;

  line-height: 1;
}

.skeleton--text-sm {
  height: 14px;
}

.skeleton--text-md {
  height: 16px;
}

.skeleton--text-lg {
  height: 20px;
}

.skeleton--width-short {
  width: 60px;
}

.skeleton--width-medium {
  width: 100px;
}

.skeleton--width-long {
  width: 150px;
}
