.wrapper {
  /* border: 1px solid blue; */
}

.label {
  font-size: 1.24em;
  letter-spacing: 0.01em;
  font-weight: 600;
}

.buttonArea {
  padding-top: 6px;
}

.buttonArea button {
  padding: 2px;
  font-size: 1.1em;
}

.resultArea {
  padding-top: 12px;
}

.result {
  overflow-y: auto;
  background-color: #eee;
  max-height: 240px;
  padding: 18px 12px;
  border-radius: 4px;
}
