.popupContainer {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  background: var(--Colors-Background-bg-primary, #fff);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.card {
  display: flex;
  width: 376px;
  min-width: 360px;
  padding: 56px var(--spacing-2xl, 20px);
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  background: var(--Colors-Background-bg-secondary, #fafafa);
  gap: 0;
}

.stepIndicator {
  display: flex;
  padding: 0 6px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background: var(--Colors-Background-bg-secondary, #fafafa);
  gap: 8px;
  margin-bottom: var(--Spacing-Block-125rem, 20px);
}

.stepProgressBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.stepNumberActive {
  display: flex;
  padding: 0 6px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background: var(--Colors-Background-bg-tertiary, #22262f);
  color: var(--colors-text-text-secondary-700, #cecfd2);
  text-align: center;
  /* Text sm/Medium */
  font-family: var(--Font-family-font-family-body, Inter);
  font-size: var(--Font-size-text-sm, 14px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--Line-height-text-sm, 20px); /* 142.857% */
}

.stepNumberInactive {
  display: flex;
  padding: 0 6px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background: var(--Colors-Background-bg-tertiary, #f5f5f5);
  color: var(--colors-text-text-secondary-700, #414651);
  text-align: center;
  /* Text sm/Medium */
  font-family: var(--Font-family-font-family-body, Inter);
  font-size: var(--Font-size-text-sm, 14px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--Line-height-text-sm, 20px); /* 142.857% */
}

.stepLine {
  width: 30px;
  height: 2px;
  flex-shrink: 0;
  display: block;
}

.stepLine path {
  stroke: var(--colors-text-text-primary-900, #181d27);
  stroke-width: 1.22807;
  stroke-linecap: round;
}

.stepText {
  color: var(--colors-text-text-primary-900, #181d27);
  /* Text sm/Medium */
  font-family: var(--Font-family-font-family-body, Inter);
  font-size: var(--Font-size-text-sm, 14px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--Line-height-text-sm, 20px); /* 142.857% */
}

.cardTop {
  display: flex;
  padding: 0;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  margin-top: var(--spacing-3xl, 24px);
}

.continueText {
  color: var(--colors-text-text-primary-900, #181d27);
  font-family: var(--Font-family-font-family-body, Inter);
  font-size: var(--Font-size-text-sm, 14px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--Line-height-text-sm, 20px);
  margin-top: var(--Spacing-Block-125rem, 20px);
}

.telegramWidgetContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 107.341px;
  margin-top: var(--Spacing-Block-125rem, 20px);
  margin-bottom: var(--spacing-2xl, 20px);
}

.telegramWidgetContainer :global(iframe) {
  border-radius: 107.341px !important;
}
