.addressItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-radius: 12px;
  width: 100%;

  &:hover {
    background: var(--bg-secondary);
  }
}

.leftSection {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1;
  min-width: 0;
}

.chainImage {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.chainInfo {
  display: flex;
  flex-direction: column;
  gap: 2px;
  min-width: 0;
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 4px;
}

.actionButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 8px;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    background-color: var(--bg-tertiary);
  }
}
