SERVER_PORT=3201

VITE_OKO_API_ENDPOINT=http://localhost:4200
VITE_DEMO_WEB_ORIGIN=http://localhost:3200
VITE_KEPLR_API_ENDPOINT=https://keplr-api.keplr.app
VITE_TX_INTERPRETER_API_ENDPOINT=https://tx-interpreter.keplr.app
VITE_AMPLITUDE_API_KEY=
VITE_IPFS_GATEWAY_URL=
VITE_TELEGRAM_BOT_NAME=telegram_bot_name
VITE_PUBLIC_S3_BUCKET_URL=https://oko-wallet.s3.ap-northeast-2.amazonaws.com
