.container {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.title {
  width: 100%;
  display: flex;
  gap: 4px;
  margin-bottom: 16px;
  align-items: center;
}

.content {
  align-self: stretch;
  margin-bottom: var(--Spacing-Block-125rem, 20px);
}

.arrowIcon {
  width: 20px;
  height: 20px;
  aspect-ratio: 1/1;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  top: -1px;
}
