.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 12px;
}

.tokenInfo {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;
}

.tokenAmount {
  text-overflow: ellipsis;
  word-break: break-all;
}

.address {
  word-break: break-all;
}

.instructionsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
