@use "../../../styles/viewport.module.scss" as *;

@keyframes slideUpFadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.desktopWrapper {
  display: none;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background: var(--bg-primary);

  @media (min-width: $desktop_min_width) {
    display: flex;
  }
}

.mobileWrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background: var(--bg-primary);

  @media (min-width: $desktop_min_width) {
    display: none;
  }
}

.body {
  flex: 1;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

@media (min-width: $desktop_min_width) {
  .body > * {
    width: 50%;
  }
}

.content {
  height: 100%;
  background: var(--bg-primary);

  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 7px;

  @media (max-width: ($desktop_min_width - 1)) {
    gap: 0px;
    width: 100%;
    height: 100%;
    animation: slideUpFadeIn 0.5s ease-out forwards;
  }
}

.title {
  display: none;
  @media (min-width: $desktop_min_width) {
    display: block;
  }
}

.mobileLogo {
  display: block;
  margin-bottom: 32px;

  @media (min-width: $desktop_min_width) {
    display: none;
  }
}

.description {
  text-align: center;
  max-width: 498px;
}
