@use "../../styles/viewport.module.scss" as *;

.wrapper {
  display: flex;
  flex-grow: 1;

  width: 100%;
  height: 100%;
  padding: 0 16px;
  overflow-y: hidden;

  background-color: var(--bg-primary);

  @media (min-width: $desktop_min_width) {
    padding: 0 40px 0 28px;
  }
}

.inner {
  overflow: auto;
  flex-grow: 1;
  padding: 0 0 40px 0;

  @media (min-width: $desktop_min_width) {
    padding: 0 0 40px 12px;
  }
}
