.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-xs, 4px);
  border-radius: var(--radius-md, 8px);
  transition: background 0.2s ease;
  width: fit-content;

  outline: none;
  cursor: pointer;

  font-style: normal;
  font-weight: 600;
  font-family: var(--font-family-body, Inter, sans-serif);

  &.fullWidth {
    width: 100%;
  }

  &.md {
    height: 40px;
    padding: 10px 14px;

    font-size: var(--font-size-sm);
    line-height: var(--font-line-height-sm);
  }

  &.lg {
    padding: 10px var(--spacing-xl, 16px);
    min-height: 44px;

    font-size: var(--font-size-md);
    line-height: var(--font-line-height-md);
  }

  &.ghost {
    background: transparent;
    color: var(--text-primary);
    border: none;
    box-shadow: none;

    &.loading:not(.disabled) {
      pointer-events: none;
    }

    &.disabled {
      color: var(--fg-disabled);
      border: none;
      box-shadow: none;
      cursor: not-allowed;
    }
  }

  &.primary {
    color: white;
    background: var(--bg-brand-solid);
    border: 1px solid rgba(255, 255, 255, 0.12);
    box-shadow: var(--shadow-xs-skeuomorphic);

    [data-theme="dark"] &:not(.disabled) {
      color: var(--gray-800);
    }

    &:hover:not(.disabled) {
      background: var(--bg-brand-solid-hover);
    }

    &.loading:not(.disabled) {
      pointer-events: none;
      background: var(--bg-brand-solid-hover);
    }

    &.disabled {
      background: var(--bg-disabled);
      color: var(--text-disabled);
      border: 1px solid var(--border-disabled_subtle);
      box-shadow: var(--shadow-xs);
      cursor: not-allowed;
    }

    [data-theme="dark"] &.disabled {
      background: var(--brand-200);
      color: var(--brand-300);
    }
  }

  &.secondary {
    color: var(--text-primary);
    background: var(--bg-primary);
    border: 1px solid var(--border-primary);
    box-shadow: var(--shadow-xs);

    &:hover:not(.disabled) {
      background: var(--bg-primary-hover);
    }

    &.loading:not(.disabled) {
      pointer-events: none;
      background: var(--bg-primary-hover);
    }

    &.disabled {
      color: var(--fg-disabled);
      border: 1px solid var(--border-disabled_subtle);
      cursor: not-allowed;
    }
  }

  &:focus {
    box-shadow: var(--shadow-focus-ring-xs-skeuomorphic);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loadingIcon {
  animation: spin 1s linear infinite;
}
