.signatureContent {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
}

.chainInfo {
  display: flex;
  align-items: center;
}

.chainLogo {
  width: 32px;
  height: 32px;
  border-radius: 16px;
}

.chainName {
  font-size: 14px;
  font-weight: 600;
  color: var(--fg-secondary);
}

.signTypeTitle {
  font-size: 20px;
  font-weight: 600;
  color: var(--fg-primary);
}

.metadataWrapper {
  display: flex;
  flex-direction: column;
}

.originRow {
  display: flex;
  align-items: center;
}

.originFavicon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.signInfoColumn {
  display: flex;
  flex-direction: column;
}

.chainInfoRow {
  display: flex;
  align-items: center;
  gap: 4px;
  flex-wrap: wrap;
}

.chainNameGroup {
  display: flex;
  align-items: center;
  gap: 4px;
}
