SERVER_PORT=3200

NEXT_PUBLIC_OKO_SDK_ENDPOINT=http://localhost:3201
NEXT_PUBLIC_OKO_DOCS_ENDPOINT=https://docs.oko.app
NEXT_PUBLIC_S3_BUCKET_URL=https://oko-wallet.s3.ap-northeast-2.amazonaws.com
NEXT_PUBLIC_OKO_GET_INTEGRATION_ENDPOINT=https://form.typeform.com/to/MxrBGq9b
