.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  width: 100%;
}

.tableWrapper {
  overflow-x: auto;
  border-radius: var(--radius-lg, 12px);
  border: 1px solid var(--border-secondary);
  width: 100%;
}

.urlText {
  text-decoration-line: underline;
}

.deleteButton {
  width: 100%;
  background: none;
  border: none;
  cursor: pointer;
  color: #e34626;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.14px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
