.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.userItem {
  display: flex;
  align-items: center;
  gap: 8px;
}

.email {
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
