services:
  pg_local:
    image: postgres:17.4
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      TZ: "UTC"
      PGTZ: "UTC"
    volumes:
      - ${PG_DATA_DIR}:/var/lib/postgresql/data
      - ../../backend/oko_pg_interface/scripts/migrate/migrate.sql:/docker-entrypoint-initdb.d/migrate.sql

  oko_api_server:
    build:
      context: ../../
      dockerfile: internals/docker/oko_api_server.Dockerfile
      network: host
    ports:
      - "${SERVER_PORT}:${SERVER_PORT}"
    restart: unless-stopped
    environment:
      SERVER_PORT: ${SERVER_PORT}
      NODE_ENV: ${NODE_ENV}
      JWT_SECRET: ${JWT_SECRET}
      JWT_EXPIRES_IN: ${JWT_EXPIRES_IN}
      SMTP_HOST: ${SMTP_HOST}
      SMTP_PORT: ${SMTP_PORT}
      SMTP_USER: ${SMTP_USER}
      SMTP_PASS: ${SMTP_PASS}
      FROM_EMAIL: ${FROM_EMAIL}
      EMAIL_VERIFICATION_EXPIRATION_MINUTES: ${EMAIL_VERIFICATION_EXPIRATION_MINUTES}
      S3_REGION: ${S3_REGION}
      S3_BUCKET: ${S3_BUCKET}
      S3_ACCESS_KEY_ID: ${S3_ACCESS_KEY_ID}
      S3_SECRET_ACCESS_KEY: ${S3_SECRET_ACCESS_KEY}
      DB_HOST: "pg_local"
      DB_PORT: "5432"
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      DB_SSL: ${DB_SSL}
      ENCRYPTION_SECRET: ${ENCRYPTION_SECRET}
      ES_URL: ${ES_URL:-}
      ES_INDEX: ${ES_INDEX:-}
      ES_CLIENT_INDEX: ${ES_CLIENT_INDEX:-}
      ES_USERNAME: ${ES_USERNAME:-}
      ES_PASSWORD: ${ES_PASSWORD:-}
      TYPEFORM_WEBHOOK_SECRET: ${TYPEFORM_WEBHOOK_SECRET}
      TELEGRAM_BOT_TOKEN: ${TELEGRAM_BOT_TOKEN}
      SLACK_WEBHOOK_URL: ${SLACK_WEBHOOK_URL}
      KS_NODE_REPORT_PASSWORD: ${KS_NODE_REPORT_PASSWORD}
    depends_on:
      - pg_local
