.dataContainer {
  p {
    margin: 0;
    padding: 0;
  }

  padding: var(--spacing-xl, 16px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 16px;
  background: var(--bg-secondary);

  .rawData {
    max-height: 300px;
    overflow-y: auto;

    pre {
      margin: 0;
      padding: 0;

      color: var(--text-secondary);
      font-size: var(--font-size-xs);
      line-height: var(--line-height-xs);
    }
  }

  .data {
    word-break: break-all;
  }
}

.messageHeader {
  display: flex;
  align-items: center;
  align-self: stretch;
  justify-content: space-between;

  .viewButtonTextRow {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}
