:root {
  --shadow-xs: 0 1px 2px 0 rgba(10, 13, 18, 0.05);
  --shadow-xs-skeuomorphic:
    0 0 0 1px rgba(10, 13, 18, 0.18) inset,
    0 -2px 0 0 rgba(10, 13, 18, 0.05) inset, var(--shadow-xs);
  --shadow-focus-ring-xs-skeuomorphic:
    0 0 0 1px rgba(10, 13, 18, 0.18) inset,
    0 -2px 0 0 rgba(10, 13, 18, 0.05) inset, 0 1px 2px 0 rgba(10, 13, 18, 0.05),
    0 0 0 2px var(--white), 0 0 0 4px var(--brand-500);
  --shadow-sm:
    0 1px 3px 0 rgba(10, 13, 18, 0.1), 0 1px 2px -1px rgba(10, 13, 18, 0.1);
  --shadow-md:
    0 4px 6px -1px rgba(10, 13, 18, 0.1), 0 2px 4px -2px rgba(10, 13, 18, 0.06);
  --shadow-lg:
    0 12px 16px -4px rgba(10, 13, 18, 0.08),
    0 4px 6px -2px rgba(10, 13, 18, 0.03), 0 2px 2px -1px rgba(10, 13, 18, 0.04);
  --shadow-xl:
    0 20px 24px -4px rgba(10, 13, 18, 0.08),
    0 8px 8px -4px rgba(10, 13, 18, 0.03),
    0 3px 3px -1.5px rgba(10, 13, 18, 0.04);
  --shadow-2xl:
    0 24px 48px -12px rgba(10, 13, 18, 0.18),
    0 4px 4px -2px rgba(10, 13, 18, 0.04);
  --shadow-3xl:
    0 32px 64px -12px rgba(10, 13, 18, 0.14),
    0 5px 5px -2.5px rgba(10, 13, 18, 0.04);
}

[data-theme="dark"] {
  --shadow-xs: 0 1px 2px 0 rgba(255, 255, 255, 0);
  --shadow-xs-skeuomorphic:
    0 0 0 1px rgba(12, 14, 18, 0.18) inset,
    0 -2px 0 0 rgba(12, 14, 18, 0.05) inset, var(--shadow-xs);
}
