:root {
  --font-family-body:
    "Inter Variable", "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, sans-serif;
  --font-family-display:
    "Inter Variable", "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, sans-serif;

  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 0.9375rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-display-xs: 1.5rem;
  --font-size-display-sm: 1.875rem;
  --font-size-display-md: 2.25rem;
  --font-size-display-lg: 3rem;
  --font-size-display-xl: 3.75rem;
  --font-size-display-2xl: 4.5rem;

  --font-line-height-xs: 1.125rem;
  --font-line-height-sm: 1.25rem;
  --font-line-height-md: 1.375rem;
  --font-line-height-lg: 1.75rem;
  --font-line-height-xl: 1.875rem;
  --font-line-height-display-xs: 2rem;
  --font-line-height-display-sm: 2.375rem;
  --font-line-height-display-md: 2.75rem;
  --font-line-height-display-lg: 3.75rem;
  --font-line-height-display-xl: 4.5rem;
  --font-line-height-display-2xl: 5.625rem;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}
