.txContainer {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
  border-radius: 12px;
  background: var(--bg-secondary);
  width: 100%;
  gap: 16px;
}
