.isClickable {
  cursor: pointer;
}

.container {
  display: flex;
  padding: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
  overflow-y: auto;
  border-radius: 12px;
  background: var(--bg-secondary);
  width: 100%;
  max-width: 360px;
  max-height: 230px;
  overflow-y: hidden;

  .titleRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    width: 100%;

    margin-bottom: 6px;
    cursor: pointer;

    .collapseButton {
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 999px;

      &:hover {
        background-color: var(--bg-quaternary);
      }
    }
  }

  .contentContainer {
    overflow-y: auto;
    transition: max-height 200ms ease-in-out;
    will-change: max-height;
  }

  .contentWrapper {
    position: relative;
  }

  .coverTop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 48px;
    background: linear-gradient(0deg, rgba(250, 250, 250, 0) 0%, #fafafa 100%);
    opacity: 0;
    :global([data-theme="dark"]) & {
      background: linear-gradient(0deg, rgba(19, 22, 27, 0) 0%, #13161b 100%);
    }
  }
  .coverBottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 48px;
    background: linear-gradient(
      180deg,
      rgba(250, 250, 250, 0) 0%,
      #fafafa 100%
    );
    pointer-events: none;
    opacity: 0;
    background: linear-gradient(0deg, rgba(250, 250, 250, 0) 0%, #fafafa 100%);
    :global([data-theme="dark"]) & {
      background: linear-gradient(180deg, rgba(19, 22, 27, 0) 0%, #13161b 100%);
    }
  }

  .visible {
    opacity: 1;
  }

  .animate {
    transition: opacity 160ms ease-in-out;
  }

  .sentinel {
    width: 100%;
    height: 1px;
  }

  pre {
    align-self: stretch;
    color: var(--text-tertiary);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-regular);
    line-height: var(--font-line-height-sm);
    white-space: pre-wrap;
    word-break: break-word;
  }

  .collapse {
    max-height: 48px;
    overflow-y: hidden;
  }

  .opened {
    max-height: 174px;
  }
}
