.assetList {
  display: flex;
  flex-direction: column;
}

/* search bar */

.searchBar {
  display: flex;
  align-items: center;
  gap: var(--spacing-md, 8px);
  border-radius: var(--radius-md, 8px);
  border: 1px solid var(--border-tertiary);
  background: var(--bg-secondary);
  width: 100%;
  padding: 12px;
  margin: 8px 0 16px 0;
}

.searchInput {
  width: 100%;
  color: var(--text-primary);
  font-family: Inter;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  line-height: var(--font-line-height-md);
  background: transparent;
  white-space: nowrap;
  border: none;
  outline: none;
  padding: 0;
}

.searchInput::placeholder {
  color: var(--text-placeholder);
}

.hideLowBalance {
  margin-left: auto;
  margin-bottom: 12px;

  width: fit-content;
  gap: 4px;
  padding: 4px 8px;
  cursor: pointer;
  user-select: none;

  display: flex;
  align-self: flex-end;
  align-items: center;
  border-radius: 8px;

  &:hover {
    background: var(--bg-primary-hover);

    .hideLowBalanceLabel {
      color: var(--text-primary);
    }
  }
}

.hideLowBalanceCheckbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hideLowBalanceLabel {
  cursor: pointer;
}

.emptyState {
  margin-top: 12px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  text-align: center;
  gap: 8px;

  .emptyImage {
    width: 122px;
    height: 154px;

    margin-top: 23px;
  }

  .showHideChainsLink {
    text-decoration: underline;
    cursor: pointer;

    transition: color 0.15s ease;
    &:hover {
      color: var(--text-quaternary-on-brand);
    }
  }
}
