@keyframes oko-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spinnerContainer {
  position: relative;
}

.colorWheel {
  animation: oko-spin 1000ms linear infinite;
  will-change: transform;
}

.iconWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon {
  animation: oko-spin 1000ms linear infinite;
  will-change: transform;
}

.loadingText {
  margin-top: 45px;

  color: var(--text-primary);
  text-align: center;
  font-family: "Roboto Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.16px;
  text-transform: uppercase;
}
