.wrapper {
  display: flex;
  padding: 12px;
  gap: 8px;

  border-radius: 12px;
  border: 1px solid var(--border-secondary);
  background: var(--bg-primary-alt);
  cursor: pointer;
}

.fallbackImageText {
  width: 40px;
  height: 40px;
  padding: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 999px;
  border: 1px solid var(--gray-200);
  background: var(--bg-tertiary);

  text-align: center;
}

.detailInfo {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.userEmail {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.topRightIcon {
  position: absolute;
  top: 0;
  right: 0;
}
