.wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 32px;
}

.backButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: var(--bg-gray-50);
  }
}

.title {
  color: var(--text-primary);
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.42px;
}
