.menu {
  width: 252px;
}

.menuHeader {
  width: calc(100% + 2px);
  position: relative;
  top: -1px;
  left: -1px;
  cursor: default;
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 6px;
  width: 24px;
  height: 24px;

  &:hover {
    cursor: pointer;
    background-color: var(--bg-primary-hover);
  }
}

.userDetailInfo {
  padding: 12px;

  display: flex;
  justify-content: space-between;

  border-radius: 12px;
  border: 1px solid var(--border-secondary);
  background: var(--bg-primary-alt);
  overflow: hidden;
}

.userEmail {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
