.container {
  display: flex;
  align-self: stretch;
}

.loggedOut {
  align-items: center;
  height: 26px;
  gap: 8px;
}

.loggedIn {
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.chainLabel {
  display: flex;
  align-items: center;
  gap: 6px;
}

.chainLabelChip {
  display: flex;
  align-items: center;
  gap: 6px;
}

.addressContent {
  display: flex;
  align-items: center;
  gap: 4px;
}

.placeholderContent {
  display: flex;
  align-items: center;
  gap: 4px;
}

.placeholderPrefix {
  color: var(--Colors-Text-text-disabled, #717680);
}

.address {
  overflow: hidden;
  word-break: break-all;
  color: var(--Colors-Text-text-disabled, #717680);
}

.dot {
  width: 5px;
  height: 5px;
  border-radius: 999px;
  background: var(--fg-disabled-subtle);
  opacity: 1;

  &:nth-last-child(3) {
    opacity: 0.8;
  }
  &:nth-last-child(2) {
    opacity: 0.6;
  }
  &:nth-last-child(1) {
    opacity: 0.5;
  }
}
