.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  padding: 20px;
}

.title {
  width: 100%;
  display: flex;
  gap: 4px;
  margin-bottom: 16px;
  align-items: center;
}
