.wrapper {
  display: flex;
  padding: 2px 0px;
  align-items: center;
  align-self: stretch;
  cursor: pointer;

  &.active {
    border-radius: 6px;
    background: var(--gray-200);
  }
}

.content {
  display: flex;
  align-items: center;
  gap: 12px;
  flex: 1 0 0;
}

.trigger {
  padding: 8px 12px;
}

.menu {
  padding: 8px 12px 8px 40px;
}

.text {
  color: var(--gray-700);
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}

.isParent {
  cursor: default;

  .text {
    font-weight: 400;
  }
}
