.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.icon {
  width: 20px;
  height: 20px;
  aspect-ratio: 1/1;
}

.text {
  color: var(--gray-700);
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}
