@use "../../styles/viewport.module.scss" as *;

$header_height: 54px;

.wrapper {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  background-color: var(--bg-primary);

  min-width: 240px;
  padding: 24px 16px;

  @media (min-width: $desktop_min_width) {
    display: flex;
  }
}

.overlay {
  display: none;
  position: fixed;
  top: $header_height;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-overlay);
  opacity: 0.3;
  z-index: 0;
}

@media (max-width: ($desktop_min_width - 1)) {
  .wrapper {
    &.isOpen {
      display: flex;
      position: fixed;
      left: 0;
      height: calc(100% - $header_height);
    }
  }

  .overlay {
    &.isOpen {
      display: block;
    }
  }
}

.subMenu {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.icon {
  width: 20px;
  height: 20px;
  aspect-ratio: 1/1;
}

.featureRequestButton {
  border: none;
  background: none;
  cursor: pointer;
  width: 100%;
  padding: 10px 12px;
  text-align: left;

  &:hover {
    background-color: var(--bg-primary-hover);
  }
}
