@use "../../../styles/viewport.module.scss" as *;

.container {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.chainBadge {
  display: flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 16px;
  background: var(--bg-tertiary);
  width: auto;
}

.titleRow {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  padding: 0;
  margin-bottom: 16px;
}

@media (min-width: $tablet_min_width) {
  .titleRow {
    flex-direction: row;
    align-items: center;
  }
}

.infoBox {
  padding: var(--spacing-xl, 16px);
  width: 100%;
  border-radius: 16px;
  background: var(--bg-secondary);
  margin-bottom: 20px;

  .infoParagraph {
    display: flex;
    gap: 4px;
    align-items: center;
    margin-bottom: 8px;
  }

  .infoList {
    list-style-type: disc;
    padding-left: 16px;
  }
}

.onchainTest {
  margin-bottom: var(--Spacing-Block-125rem, 20px);
}

.loadingWrapper {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--Spacing-Block-125rem, 20px);
}

.loadingContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-xl, 16px);
}

.loadingText {
  color: var(--text-secondary);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.loadingIcon {
  width: 32px;
  height: 32px;
  animation: spin 1s linear infinite;

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.resultWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  gap: 16px;
}

.resultText {
  color: var(--text-secondary);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: var(--Line-height-text-sm, 20px);
}

.resultIconWrapper {
  display: flex;
  width: 32px;
  height: 32px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  border-radius: 9999px;
  background: var(--bg-success-secondary);
}
