@use "../../styles/viewport.module.scss" as *;

$header_height: 54px;

.wrapper {
  display: none;
  min-width: 240px;
  background-color: var(--bg-primary);

  padding: 24px 16px;
  flex-direction: column;
  justify-content: space-between;
}

.overlay {
  display: none;
  position: fixed;
  top: $header_height;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-overlay);
  opacity: 0.3;
  z-index: 2;
}

@media (max-width: ($desktop_min_width - 1)) {
  .wrapper {
    &.isOpen {
      display: flex;
      position: fixed;
      z-index: 2;
      height: calc(100% - $header_height);
    }
  }

  .overlay {
    &.isOpen {
      display: block;
    }
  }
}

@media (min-width: $desktop_min_width) {
  .wrapper {
    display: flex;
  }
}

.icon {
  width: 20px;
  height: 20px;
  aspect-ratio: 1/1;
}
