.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  padding: var(--spacing-3xl, 24px);
}

.title {
  align-self: stretch;
  font-style: normal;
  margin-bottom: var(--spacing-block-1rem, 16px);
}
