@use "../../styles/viewport.module.scss" as *;

.wrapper {
  height: 54px;
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  align-items: center;
  padding: 16px 20px;
  background-color: var(--bg-primary);
}

@media (min-width: $desktop_min_width) {
  .wrapper {
    padding: 16px 44px;
  }
}

.menuIconWrapper {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 16px;
}

@media (min-width: $desktop_min_width) {
  .menuIconWrapper {
    display: none;
  }
}

.logoResponsive {
  width: auto;
  height: 22px;
  flex-shrink: 0;
  // aspect-ratio: 37/16;

  // TODO: new logo responsive size is required
  // @media (min-width: $desktop_min_width) {
  //   width: 180.06px;
  //   height: 26px;
  //   aspect-ratio: 180.06/26;
  // }
}
