.wrapper {
  display: flex;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.body {
  width: 411px;
  margin: 80px auto auto auto;
}

.description {
  margin-bottom: 40px;
}

.backButton {
  margin-left: -8px;
  margin-bottom: 24px;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}
