@use "../../styles/viewport.module.scss" as *;

.wrapper {
  height: 54px;
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  align-items: center;
  padding: 20px 16px;
  z-index: 999;
  justify-content: space-between;

  @media (min-width: $desktop_min_width) {
    padding: 16px 44px;
  }
}

.menuIconWrapper {
  display: flex;
  align-items: center;
  height: 100%;

  @media (min-width: $desktop_min_width) {
    display: none;
  }
}
