@use "../../../styles/viewport.module.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
}

.logo {
  display: none;

  @media (min-width: $desktop_min_width) {
    display: block;
  }
}

.loginMethodsWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  margin-top: 40px;

  @media (min-width: $desktop_min_width) {
    margin-top: 52px;
  }
}

.getSupportRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .supportLink {
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 4px;
    text-decoration: underline;
  }
}

.socialIconWrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.socialIconWrapper > * + * {
  margin-left: -2px;
}

.backRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: stretch;

  .backText {
    flex: 1 0 0;
    text-align: center;
  }

  .backIcon {
    cursor: pointer;
  }
}

.socialsList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.emailLoginMethod {
  display: flex;
  padding: 10px 14px;
  align-items: center;
  gap: 8px;
  align-self: stretch;

  border-radius: 8px;
  border: 1px solid var(--border-primary);
  background: var(--bg-primary);

  box-shadow: var(--shadow-xs);
}

.loginButton {
  height: 22px !important;
  padding: 0 !important;
  color: var(--text-placeholder) !important;
}

.emailInput {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 1;
  flex: 1 0 0;
  overflow: hidden;
  text-overflow: ellipsis;

  font-family: var(--font-family-body);
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;

  border: none;
}

.statusMessage {
  align-self: stretch;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
