.widget {
  width: 360px;
  border-radius: 20px;
  // border: 1px solid var(--border-primary);
  background: var(--bg-primary);
  box-shadow: 0px 1px 2px 0px
    var(--Colors-Effects-Shadows-shadow-xs, rgba(10, 13, 18, 0.05));

  border: 1px solid black;
}
