.themeButtonContainer {
  .themeButton {
    padding: 10px;

    border-radius: 8px;
    border: 1px solid var(--border-primary);
    background: var(--bg-primary);

    box-shadow:
      0 0 0 1px rgba(10, 13, 18, 0.18) inset,
      0 -2px 0 0 rgba(10, 13, 18, 0.05) inset,
      0 1px 2px 0 var(--shadow-xs, rgba(10, 13, 18, 0.05));
  }
}
