SERVER_PORT=4200
NODE_ENV="test"

JWT_SECRET="jwtsecret"
JWT_EXPIRES_IN="1H"

SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER="no-reply@example.com"
SMTP_PASS="your-app-password"
FROM_EMAIL="no-reply@example.com"

EMAIL_VERIFICATION_EXPIRATION_MINUTES=3

S3_REGION="ap-northeast-2"
S3_BUCKET="oko-wallet-customer"
S3_ACCESS_KEY_ID="ID"
S3_SECRET_ACCESS_KEY="SECRET_KEY"

DB_HOST="localhost"
DB_PORT=5432
DB_USER="postgres"
DB_PASSWORD="postgres"
DB_NAME="oko_dev"
DB_SSL=false

ENCRYPTION_SECRET="temp-enc-secret"

ES_URL=""
ES_INDEX="index"
ES_CLIENT_INDEX="client_index"
ES_USERNAME="username"
ES_PASSWORD="pw"

X_CLIENT_ID=""
SOCIAL_LOGIN_X_CALLBACK_URL="http://localhost:3201/x/callback"
TYPEFORM_WEBHOOK_SECRET="typeform-webhook-secret"
