@use "@oko-wallet/oko-common-ui/styles/colors";
@use "@oko-wallet/oko-common-ui/styles/typography";
@use "@oko-wallet/oko-common-ui/styles/shadow";

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text-primary);
  // background: var(--bg-primary);
  font-family: var(--font-family-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

.common-list-scroll {
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 9999px;
    background: var(--bg-quaternary);
  }
}

.hide-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
}
