.typography {
  font-family: var(--font-family-body, Inter);
}

@each $size
  in (
    xs,
    sm,
    md,
    lg,
    xl,
    display-xs,
    display-sm,
    display-md,
    display-lg,
    display-xl,
    display-2xl
  )
{
  .size-#{$size} {
    font-size: var(--font-size-#{$size});
    line-height: var(--font-line-height-#{$size});
  }
}

@each $weight in (regular, medium, semibold, bold) {
  .weight-#{$weight} {
    font-weight: var(--font-weight-#{$weight});
  }
}

@each $color
  in (
    primary,
    secondary,
    tertiary,
    quaternary,
    primary-on-brand,
    secondary-on-brand,
    tertiary-on-brand,
    quaternary-on-brand,
    secondary-hover,
    tertiary-hover,
    "white",
    disabled,
    placeholder,
    placeholder-subtle,
    subtle,
    brand-primary,
    brand-secondary,
    brand-secondary-hover,
    brand-tertiary,
    error-primary,
    error-primary-hover,
    warning-primary,
    success-primary
  )
{
  .color-#{$color} {
    color: var(--text-#{$color});
  }
}

@each $customColor
  in (
    "white",
    "black",
    "transparent",
    gray-50,
    gray-100,
    gray-200,
    gray-300,
    gray-400,
    gray-500,
    gray-600,
    gray-700,
    gray-800,
    gray-900,
    brand-50,
    brand-100,
    brand-200,
    brand-300,
    brand-400,
    brand-500,
    brand-600,
    brand-700,
    brand-800,
    brand-900,
    error-25,
    error-50,
    error-100,
    error-200,
    error-300,
    error-400,
    error-500,
    error-600,
    error-700,
    error-800,
    error-900,
    error-950,
    warning-25,
    warning-50,
    warning-100,
    warning-200,
    warning-300,
    warning-400,
    warning-500,
    warning-600,
    warning-700,
    warning-800,
    warning-900,
    warning-950,
    success-25,
    success-50,
    success-100,
    success-200,
    success-300,
    success-400,
    success-500,
    success-600,
    success-700,
    success-800,
    success-900,
    success-950
  )
{
  .custom-color-#{$customColor} {
    color: var(--#{$customColor});
  }
}
