.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.modal {
  position: relative;
  width: auto;
  max-width: 90vw;
}

.modalCard {
  width: 400px;
  background-color: var(--bg-primary);
  border: 1px solid var(--border-primary);
  border-radius: 12px;
  overflow: hidden;
}

.modalContent {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.chainInfo {
  display: flex;
  align-items: center;
  align-self: center;
  gap: 6px;
  margin: 16px 0 12px 0;
}

.chainLogo {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
}

.closeButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--fg-quaternary);

  &:hover {
    color: var(--fg-secondary);
  }
}

.addressContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 100%;
}

.qrContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 12px;
  margin: 20px 0 32px 0;
  width: 100%;
}
