.wrapper {
  width: 360px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.showHideChains {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 12px;
}
