.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 12px;
}

.tokenInfoContainer {
  display: flex;
  gap: 16px;

  .tokenInfo {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
  }

  .tokenAmount {
    text-overflow: ellipsis;
    word-break: break-all;
  }
}

.txRendererContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
