.container {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
  border-radius: 12px;
  background: var(--bg-secondary);
  width: 100%;
  gap: 16px;
}

.tokenInfoContainer {
  display: flex;
  gap: 16px;

  .tokenInfo {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
  }

  .tokenAmount {
    text-overflow: ellipsis;
    word-break: break-all;
  }
}

.txRendererContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}
