@use "../../styles/viewport.module.scss" as *;

.wrapper {
  display: flex;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  background-color: var(--bg-primary);
  padding: 0;
}

.inner {
  width: 100%;
  background-color: var(--bg-secondary);
  border: 1px solid var(--border-secondary);

  padding: 20px;
  overflow: auto;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  /* background dot pattern image*/
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Crect x='4' y='4' width='2' height='2' rx='1' fill='%23E9EAEB'/%3E%3C/svg%3E");
  background-size: 16px 16px;
  background-position: 7px -4px;
}

.spinnerWrapper {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}

@media (min-width: $tablet_min_width) {
  .inner {
    border-radius: 28px;
  }
}

.content {
  width: 100%;
  height: 100%;
  border: none;

  overflow: auto;

  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
}

@media (min-width: $tablet_min_width) {
  .wrapper {
    padding: 8px 0px 32px 0px;
  }

  .col {
    width: fit-content;
  }
}

@media (min-width: $desktop_min_width) {
  .wrapper {
    overflow-y: hidden;
    padding: 8px 24px 52px 0;
  }

  .content {
    flex-direction: row;
    align-items: flex-start;
  }
}
