.menu {
  width: 252px;
}

.menuHeader {
  width: calc(100% + 2px);
  position: relative;
  top: -1px;
  left: -1px;
  cursor: default;
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 6px;
  width: 24px;
  height: 24px;

  &:hover {
    background-color: var(--bg-primary-hover);
  }
}
