.overlay {
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  display: grid;
  place-items: center;

  /* In popup context, make overlay fullscreen */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

.floatingWrapper {
  width: 100%;
  max-width: 440px;

  &:focus-visible {
    outline: none;
  }
}

.invisible {
  opacity: 0;
  pointer-events: none;
}
