.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px 16px;
  text-align: center;
  gap: 8px;
}

.imageWrapper {
  width: 190px;
  margin-bottom: 8px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
