.wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.themeSection {
  display: flex;
  flex-direction: column;
  width: 100%;

  gap: 16px;
}

.themeOptions {
  display: flex;
  gap: 12px;

  flex-wrap: wrap;
}

.themeActions {
  display: flex;
  gap: 12px;
}

.themeOptionButton {
  padding: 8px 12px;
  border-radius: 10px;
  border: 1px solid var(--border-primary);
  background: var(--bg-primary);
  color: var(--text-primary);
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    border-color: #d0d5dd;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}

.themeOptionButtonActive {
  background: var(--bg-brand-solid);
  color: var(--text-primary-on-brand);
}

.error {
  color: var(--text-error, #d92d20);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
