.activeIndicator {
  position: absolute;
  bottom: 8;
  right: 7;
  width: 16px;
  height: 16px;
  background-color: var(--border-brand-alt);
  border-radius: 50%;
}

.buttonContainer {
  display: flex;
  flex-direction: column;

  gap: 8px;
}
.button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  border-radius: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;

  position: relative;

  width: 100px;
  height: 60px;
  border-radius: 8px;
  border: 1px solid var(--border-primary);
  overflow: hidden;
  transition: border 0.1s ease-in-out;

  &:hover {
    border: 2px solid var(--border-brand);
  }

  &.active {
    border: 2px solid var(--border-brand-alt);
  }
}

.lightThemeButton {
  position: relative;
  background-color: var(--gray-200);
  overflow: hidden;

  .lightThemeButtonInner {
    margin-top: 14px;
    margin-left: 24px;
    background-color: var(--white);
    border: 1px solid var(--border-primary);
    width: 80px;
    height: 50px;
    border-top-left-radius: 8px;
  }

  .lightThemeButtonInnerText {
    margin-top: 8px;
    margin-left: 8px;
    text-align: left;
  }
}

.darkThemeButton {
  position: relative;
  background-color: var(--gray-500);
  overflow: hidden;

  .darkThemeButtonInner {
    margin-top: 14px;
    margin-left: 24px;
    background-color: #22262f;
    border: 1px solid #373a41;
    width: 80px;
    height: 50px;
    border-top-left-radius: 8px;
  }

  .darkThemeButtonInnerText {
    margin-top: 8px;
    margin-left: 8px;
    text-align: left;
    color: #f7f7f7;
  }
}

.systemThemeButtonContainer {
  display: flex;

  .lightThemeButton {
    position: relative;
    background-color: var(--gray-200);

    .lightThemeButtonInner {
      margin-top: 14px;
      margin-left: 14px;
      background-color: var(--white);
      border: 1px solid var(--border-primary);
      width: 80px;
      height: 50px;
      border-top-left-radius: 8px;
    }

    .lightThemeButtonInnerText {
      margin-top: 8px;
      margin-left: 8px;
      text-align: left;
    }
  }

  .darkThemeButton {
    position: relative;
    background-color: var(--gray-500);

    .darkThemeButtonInner {
      margin-top: 14px;
      margin-left: 14px;
      background-color: #22262f;
      border: 1px solid #373a41;
      width: 80px;
      height: 50px;
      border-top-left-radius: 8px;
    }

    .darkThemeButtonInnerText {
      margin-top: 8px;
      margin-left: 8px;
      text-align: left;
      color: #f7f7f7;
    }
  }
}
