@use "../../styles/viewport.module.scss" as *;

.container {
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 7px;
}

.title {
  display: none;
  @media (min-width: $desktop_min_width) {
    display: block;
  }
}

.logo {
  display: block;
  margin-bottom: 32px;

  @media (min-width: $desktop_min_width) {
    display: none;
  }
}

.description {
  text-align: center;
  max-width: 498px;
}
