.wrapper {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.title {
  margin-bottom: 8px;
}

.configs {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 300px));
  gap: 36px;
}

.configLabel {
  margin-bottom: 16px;
}

.optionList {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.optionWrapper {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.option {
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  cursor: pointer;
  border-radius: 12px;
  border: 1px solid var(--border-brand);
  background: var(--bg-brand-primary);
}

.networkOption {
  border: none;
  background: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 8px;
}

.networkIcon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  border-radius: 999px;
  background: var(--bg-primary);
  border: 2px solid var(--bg-primary);

  &.selected {
    background: var(--bg-brand-primary);
    border: 2px solid var(--border-brand);
  }
}
